/SQltablewithJSP/nbproject/private/
/SQltablewithJSP/build/
/ViewDatafromDB/nbproject/private/
/ViewDatafromDB/build/
/RoomBooking/nbproject/private/
/RoomBooking/build/
/Quiz/nbproject/private/
/Quiz/build/
/DATAINSERTION/nbproject/private/
/DATAINSERTION/build/